.topnav {
    background-color:#335;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topnav a {
    float: left;
    font-size:16px;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;

}
.dropdown {
    float: left;
    overflow: hidden;

}
.dropdown .dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 20px;
    background-color: #335;
    margin: 0;
}
.topnav a:hover, .dropdown:hover, .dropbutton {
    background-color:cadetblue;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #335;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration:none;
}
.dropdown-content a{
    float:none;
    color:white;
    padding: 10px 6px;
    display:block;
    text-align:left;
    font-size:14px;
}
.dropdown-content a:hover{
    background-color:cadetblue;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropbutton{display:block}